body {
    margin: 0;
    padding: 0;
    font-family: $body-font-family;
    font-weight: $light;
    font-size: 14px;
    color: $mine-shaft;
}
.noscroll {
    overflow: hidden;
}
* {
	-webkit-overflow-scrolling: touch;
}
h1 {
    font-size: 90px;
    font-weight: $bold;
}
h2 {
    font-size: 50px;
    font-weight: $bold;
}
h3 {

}
body,
h1,
h2,
h3,
h4,
h5{
	font-family: $heading-font-family;
}
p {
    font-family: $body-font-family;
}
a {
	//color: $falu-red;
	text-decoration: underline;
	&:hover {
		// color: darken($mandy, 20%);
        //color: $mandy
	}
}
img, picture {
    width: auto;
    height: auto;
}

[type="color"], [type="date"], [type="datetime"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], input:not([type]), textarea, select[multiple] {
    border: 1px solid rgb(178, 178, 178);
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.logo {
    border: 5px solid $persian-green;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: block;
    margin: 20px auto;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.accessibility-show-on-focus:focus {
    display: block;
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 16px;
    padding: 1rem;
    width: auto;
    height: auto;
    margin: auto;
    overflow: visible;
    clip: auto;
    z-index: 30;
}