$pure-white: #FFFFFF;
$selective-yellow: #FCBB08;
$aqua-haze: #F6F8FA;
$persian-green: #00B2A0;
$cape-cod : #373A39;
$dark-cape-cod: #2A2C2B;

$gallery:		#ECECEC; // Grey
$green-spring: 	#D7DCD4; // Grey
$mine-shaft:	#333333; // Black
$eden:			#0D312B; // Black
$prussian-blue:	#003359; // Blue (Dark)
$san-marino: 	#4967AA; // Blue
$boston-blue:	#3A7EA8; // Blue
$pelorous:      #3898AE; // Blue (Turquoise)
$botticelli:    #D8E9ED; // Blue (Light)
$oxford-blue:   #002139; // Blue
$blue-lagoon: 	#00606B; // Blue/Green
$keppel:		#34AFA8; // Green
$olive-drab:	#5F932A; // Green
$orange-roughy:	#BD4F19; // Red/Orange
$plum:			#593160; // Purple (Dark)
$eggplant:		#7D5266; // Purple (Light)
$deep-carmine-pink: #ff3333; // Pink
$ironstone:		#89493D; // Red (Dark)
$stiletto:      #9E333C; // Red
$mandy:			#CB2528; // Red
$orange-peel:   #ff9900; // Orange
$midnight:		#00335d; // Midnight
$onyx:			#00111e; // Onyx
$lavender-gray: #c7c7c7; // Gray

$albescent-white:	#F4E7D0; // Yellow (Light)
$periwinkle-gray:	#CED7EC; // Grey (Blue)
$zombie:			#DACD86; // Yellow


/* New Colours */
$atomic-tangerine:	#F5986F; // Orange
$studio:			#725291; // Purple
$texas:				#E9E270; // Yellow
$geraldine:			#EE7D6B; // Pink (Salmon)
$viking:			#3BBCCC; // Blue (Teal)
$azalea:			#F3C2C6; // Pink (Pale)
$falu-red: 			#811819; //red
$rhino: 			#2C3F68; //blue
$scorpion: 			#595959; //Grey
$fern-frond:		#40621D; //Green


$bold: 700;
$regular: 400;
$light: 300;

$heading-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$body-font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$tablet-width: 800px;
$mobile-width: 640px;

